LOG_LEVEL=info      # debug | verbose | info | warn | error

LIVEKIT_TLS=true
LIVEKIT_DOMAIN=example.com
LIVEKIT_API_KEY=API_KEY
LIVEKIT_API_SECRET=API_SECRET
LIVEKIT_ROOM=racecast
LIVEKIT_IDENTITY=racecar

UPS_I2C_ADDR=0x40
UPS_I2C_BUS=0

CAM_BITRATE=2000000

MIC_BITRATE=96000